@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  --animate-spin: spin .8s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  --default-width: 80%;
  --max-width: 1024px;
  --primary-color: #f9cdce;
  --secondary-color: #8c8073;
  --skeleton-color: rgba(206, 206, 206, 0.5);
  --bg-color: #292826;

  margin: 0;
}

body:has(#modal_container) {
  padding-right: var(--scrollbar-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}
